<div class="image">
    <h1>Coll.E.W - Collect e-waste</h1>
    <h2>Allgemeine Informationen</h2>
    <div class="outer">
        <div class="elektroschrott">
            <p>
                Zu Elektroschrott:<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
            </p>
        </div>
        <div class="wiederverwendung">
            <p>
                Zu Wiederverwendung:<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
                Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>
            </p>
        </div>
        <div>
            <p class="info-text" *ngIf="!authService.isAuth">
                Um Produkte anzubieten oder zu reservieren, <br> muss man sich anmelden!
            </p>
        </div><br>
    </div>
    
</div>