.scheduler {
    text-align: center;
}

.responsive_button {
    height: auto;
    min-width: 90px;
    font-size: max(1vw, 12px);
}

.scheduler mat-dialog-actions {
    display: flex;
    justify-content: center;
  }

