<h1 mat-dialog-title align="center">Passwort ändern</h1>
<form #passwordForm="ngForm">
    <div mat-dialog-content align="center">
        <p>Bitte alle Felder ausfüllen!</p>

        <mat-error *ngIf="!passwordValid">
            Alle Felder ausfüllen!
        </mat-error>
        <mat-form-field appearance="fill">
            <mat-label>Altes Passwort</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="oldpassword" name="oldpassword" required>
            <button mat-icon-button type="button" matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Neues Passwort</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="newpassword" name="newpassword" required>
            <button mat-icon-button type="button" matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Neues Passwort bestätigen</mat-label>
            <input matInput [type]="hide3 ? 'password' : 'text'" [(ngModel)]="matchingpassword" name="matchingpassword" required>
            <button mat-icon-button type="button" matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="center">
        <button mat-button color="primary" type="button" class="responsive_button" (click)="onNoClick()">Abbrechen</button>
        <button mat-button color="primary" class="responsive_button" [disabled]="!passwordForm.form.valid"
            [mat-dialog-close]="{oldpassword: oldpassword, newpassword: newpassword, matchingpassword: matchingpassword}"
            cdkFocusInitial>Passwort ändern</button>
    </div>
</form>