body {
  height: auto;
  padding-bottom: 50px;
}


.example-spacer {
  flex: 1 1 auto;
}

img {
  width: auto;
  height: 2.5vw;
  min-height: 25px;
}

.nav {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
  // background-color: #9BE670;
  // box-shadow: 0px 12px 27px -14px rgba(68,68,68,0.51);
  height: 70px;
}

.footer {
  position: fixed;
  bottom: 0; 
  z-index: 1000;
  height: 50px;
  justify-content: center;
  box-shadow: 3px -5px 20px -14px rgba(68,68,68,0.51);}

